html, body, #map {
    margin: 0;
    height: 100%;
}

.leaflet-popup-content-wrapper {
    border-radius: 4px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    padding-right: 7px;
    margin: 3px;
}
